<template>
    <div class="container">
        <h2>{{ articulo.title }}</h2>
        <p class="small">{{ articulo.nombreAutor }}</p>
        <p>{{articulo.body}}</p>
        <nuxt-link to="/blog" class="btn btn-primary">Atras</nuxt-link>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            //articulo:'',
            //autor:''
        }
    },
    /*async created() {
        const res = await axios.get(`https://jsonplaceholder.typicode.com/posts/${this.$route.params.id}`)
        this.articulo = res.data;

        const resAutor = await axios.get(`https://jsonplaceholder.typicode.com/users/${res.data.userId}`)
        this.autor = resAutor.data;
    },*/
    async asyncData({isDev, route, store, env, params, query, req, res, redirect, error}) {
        try {
            const res = await axios.get(`https://jsonplaceholder.typicode.com/posts/${params.id}`)
            const articulo = res.data;

            const resAutor = await axios.get(`https://jsonplaceholder.typicode.com/users/${res.data.userId}`)
            articulo.nombreAutor = resAutor.data.name; 

            return {articulo};
        } catch (error) {
            return {error: error};
        }
    },
}
</script>