<template>
    <div class="container mt-5">
        <div class="card my-2">
            <div class="car-body" v-for="(item, index) in articulos" :key="index">
                <nuxt-link :to="`/blog/${item.id}`">{{ item.title }}</nuxt-link>
                <p>{{ item.body }}</p>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
export default {
    data(){
        return{
            articulos: []
        }
    },
    async created() {

        try {
            const res = await axios.get('https://jsonplaceholder.typicode.com/posts')
            //console.log(res.data);
            this.articulos = res.data;
        } catch (error) {
            console.log(error);
        }

    },
}
</script>